ion-toolbar{
    --background:rgb(255, 255, 255);
    --color:#00DCA9;
}

ion-button{
    --background:rgb(255, 255, 255);
    --color:#00DCA9;
}

ion-content{
    --background:#00DCA9;
    --color:#ffffff;
}
ion-list{
    --background:#00DCA9;
}
ion-card{
    --background:rgb(255, 255, 255);
    --color:#00DCA9;
}
ion-item{
    --background:#00DCA9;
    --color:#ffffff;
}

ion-radio{
    --color-checked:#FFF;
    --color:#FFF;
}