<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Explore</ion-title>
  </ion-toolbar>
 </ion-header>
 <!--*ngFor="let video of videos | async" (click)="openVideo(video)" detail-none-->
 <ion-content class="ion-padding">
    <ion-list style="background:#00DCA9">
    <ion-card ion-item padding (click)="phytagoras()">
    <img src = "http://i3.ytimg.com/vi/yliw5IFXsSg/maxresdefault.jpg" width="100%">
      <h2>Pythagoras</h2>
      <p>Sejarah Pythagoras</p>
    </ion-card>
    <ion-card ion-item padding (click)="babilonia()">
        <img src = "http://i3.ytimg.com/vi/5GmhV4GsLOo/maxresdefault.jpg" width="100%">
      <h2>Babilonia</h2>
      <p>Sejarah Matematika Babilonia</p>
    </ion-card>
  <ion-card ion-item padding (click)="sejarahangka()">
      <img src = "http://i3.ytimg.com/vi/SBu7sLYaK2g/maxresdefault.jpg" width="100%">
    <h2>Matematika</h2>
    <p>Sejarah Angka</p>
  </ion-card>
<ion-card ion-item padding (click)="pascal()">
    <img src = "http://i3.ytimg.com/vi/XMriWTvPXHI/maxresdefault.jpg" width="100%">
  <h2>Pascal</h2>
  <p>Rahasia Segitiga Pascal</p>
</ion-card>
<ion-card ion-item padding (click)="himathsejarah()">
  <img src = "http://i3.ytimg.com/vi/ueI8Cg1cQs8/maxresdefault.jpg" width="100%">
<h2>Pascal</h2>
<p>HiMath Sejarah Bilangan</p>
</ion-card>
    </ion-list>
  </ion-content>