ion-toolbar{
    --background:rgb(255, 255, 255);
    --color:#0CD0DC;
}

ion-button{
    --background:rgb(255, 255, 255);
    --color:#0CD0DC;
}

ion-content{
    --background:#0CD0DC;
    --color:#ffffff;
}
ion-list{
    --background:#0CD0DC;
}
ion-card{
    --background:rgb(255, 255, 255);
    --color:#0CD0DC;
}
ion-item{
    --background:#0CD0DC;
    --color:#ffffff;
}

ion-radio{
    --color-checked:#FFF;
    --color:#FFF;
}