<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>About Us</ion-title>
  </ion-toolbar>
 </ion-header>
 
 <ion-content>
   <ion-card ion-item padding>
      <img src="../../assets/images/newtitle.png">     
    <p>Zuhadur Ra'is A.P 17030174013</p>
    <p>Dyah ayu karindra 17030174010</p>  
    <p>Ratri Murdy Andari 17030174017</p>     
    <p>Laili Hi'miyah 17030174058</p>    
  </ion-card>
</ion-content>