<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Exercise</ion-title>
  </ion-toolbar>
 </ion-header>
 
 <ion-content>

  <ion-slides pager="true" [options]="{pagination: true}" #slides>

      <ion-slide class="start-slide">
          <ion-button class="ion-padding" color="primary" (click)="nextSlide()">Start!</ion-button>
      </ion-slide>

      <ion-slide *ngFor="let question of questions; let i = index;">
          <ion-grid>
        <ion-row align-items-center>
              <ion-col col-3>
          <div class="ion-padding" full>Question {{i+1}}</div>
            </ion-col>
            <ion-col col-3>
          <div class="ion-padding" full>{{question.questionText}}</div>
        </ion-col>
        <ion-col col-3>
          <ion-list no-lines radio-group>

              <ion-item text-wrap *ngFor="let answer of question.answers; let i = index;">

                  <ion-label text-wrap class="app-font-25">{{i+1}}. {{answer.answer}}</ion-label>
                  <ion-radio (click)="selectAnswer(answer, question)" [checked]="answer.selected" [disabled]="hasAnswered"></ion-radio>

              </ion-item>

          </ion-list>
        </ion-col>
      </ion-row>
  </ion-grid>
      </ion-slide>

      <ion-slide>
          <h2>Final Score: {{score}}</h2>

          <ion-button (click)="restartQuiz()" ion-button full color="primary">Start Again</ion-button>

      </ion-slide>

  </ion-slides>

</ion-content>